<html>
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>
<body>
    <h1 style="text-align:center">SportHub Documentation</h1>
    <br>

    <h2><p><small>[POST]</small>   <ins>api/signup/</ins></p></h2>
    <pre><b>Send In Body:</b>
        {
            "username":"MY USERNAME",
            "password":"MY PASSWORD"
        }

<b>Receive:</b>
        {
            "response": "successfully registered a new user and new client",
            "user": "MY USERNAME",
            "date": "2020-03-06T14:54:40.023153",
            "token": "e9d32ed80439408123asb897143051153e2915f5"
        }
    </pre>

    <hr>

    <h2><p><small>[POST]</small>   <ins>api/login/</ins></p></h2>
    <pre><b>Send In Body:</b>
        {
            "username":"MY USERNAME",
            "password":"MY PASSWORD"
        }

<b>Receive:</b>
        {
        "token" : "e9d32ed80439408123asb897143051153e2915f5"
        }
    </pre>

    <hr>

    <h2><p><small>[GET]</small>   <ins>api/show-all-clubs/</ins></p></h2>
    <pre><b>Send In Header:</b>
        {
            "Authorization":"Token fc2fbb08bc9123fg9ad7ff67fe0df75e719b2f16"
        }

<b>Receive:</b>
        <p>** Page Size ro rooye 6 set kardam, age count az 6 bishtar beshe tooye next o previous address 
baghiashono mizare, mesle in : "next":"http://127.0.0.1:8050/api/show-all-clubs/?page=2"<p>
        {
            "count": 2,
            "next": null,
            "previous": null,
            "results": [
                {
                    "clubname": "TNB CLUB",
                    "location": "Tehran",
                    "scores": true,
                    "picture": "/media/images/Screenshot_from_2020-01-04_22-42-03.png"
                },
                {
                    "clubname": "CyberPunk",
                    "location": null,
                    "scores": null,
                    "picture": "/media/images/default.png"
                }
            ]
        }
    </pre>

    <hr>

    <h2><p><small>[GET]</small>   <ins>api/club/</ins></p></h2>
    <pre><b>Send In Header:</b>
        {
            "Authorization":"Token fc2fbb08bc9123fg9ad7ff67fe0df75e719b2f16"
        }

<b>Send In Body:</b>
        {
            "clubname":"TNB CLUB"
        }

<b>Receive:</b>
        {
            "clubname": "TNB CLUB",
            "clubphonenumber": "22527984",
            "address": "Majidie Shomali",
            "scores": 4,
            "parking": true,
            "wc": true,
            "shower": true,
            "absardkon": false,
            "tahviehava": false,
            "rakhtkan": false,
            "boofe": false,
            "pictures": [
                "/media/images/Screenshot_from_2020-02-23_02-44-59.png",
                "/media/images/Screenshot_from_2020-01-04_22-42-03.png"
            ],
            "comments": [
                {
                    "text": "salam be hame",
                    "date": "2020-03-03T17:59:25+03:30",
                    "scores": null,
                    "username": "mr_vozhde"
                },
                {
                    "text": "salam be to mr vozhde",
                    "date": "2020-03-03T17:59:48+03:30",
                    "scores": null,
                    "username": "amin"
                }
            ]
        }
    </pre>

    <hr>


    <h2><p><small>[GET]</small>   <ins>api/club-sans/</ins></p></h2>
    <pre><b>Send In Header:</b>
        {
            "Authorization":"Token fc2fbb08bc9123fg9ad7ff67fe0df75e719b2f16"
        }

<b>Send In Body:</b>
        {
            "clubname":"TNB CLUB"
        }

<b>Receive:</b>
        [
            {
                "club_name": "TNB CLUB",
                "fromtime": "10:00:00",
                "tilltime": "12:30:00",
                "capacity": 12,
                "cost": 100000
            },
            {
                "club_name": "TNB CLUB",
                "fromtime": "13:30:00",
                "tilltime": "15:00:00",
                "capacity": 4,
                "cost": 200000
            }
        ]
    </pre>

    <hr>
</body>
</html>
